---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import { Image } from "@astrojs/image/components";
import profileImage from "../../public/icons/avenue-icon-alt.png";
import FormattedDate from "../../src/components/FormattedDate.astro";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";
import getSortedTags from "@/utils/getSortedTags";
import { SITE } from "@config";

const posts = await getCollection("blog");

const tags = getSortedTags(posts).slice(0, 6);
const sortedPosts = posts
    .filter((post) => post.data.featured == true)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 5);
---

<Layout title={SITE.title} description={SITE.desc}>
    <div
        class="main-wrapper wrap-sm grid gap-16 px-8 md:gap-24 lg:gap-32 mx-auto"
    >
        <SectionContainer class="hero--container flex flex-col gap-8 mt-32">
            <Image
                src={profileImage}
                alt={"Lane - Avenue Labs"}
                width={160}
                height={160}
                aspectRatio={1 / 1}
                format={"webp"}
                class="rounded-full h-32 w-32 bg-neutral-50 object-cover p-4"
            />
            <div class="content-container">
                <div class="page-title--content max-w-[54rem] mb-8 lg:mb-4">
                    <h1
                        class="text-4xl lg:text-3xl font-medium leading-8 lg:leading-10 tracking-tight lg:tracking-tighter mb-0"
                    >
                        AidBook - Digital resources for humanitarian aid
                    </h1>
                </div>
                <div
                    class="content text-3xl md:text-3xl font-medium leading-8 lg:leading-10 tracking-tight lg:tracking-tighter text-neutral-500"
                >
                    A collection of useful digital resources to provide aid to
                    yourself and others in the time of need.
                </div>
            </div>
        </SectionContainer>
        <!--  Projects Container -->
        <SectionContainer class="blogs--container pb-24">
            <div class="flex flex-row my-4 items-center text-neutral-500">
                <h2 class="font-medium text-h4 mb-0 leading-8 tracking-tighter">
                    Blogs
                </h2>
                <a href="/blog" class="font-medium flex no-underline ml-auto">
                    View all blogs
                    <Icon name="ph:arrow-right-light" class="w-6 h-6 ml-4" />
                </a>
            </div>

            <ul class="list-none space-y-5">
                {
                    sortedPosts.map((post) => (
                        <li class="flex flex-col gap-1">
                            <a
                                href={`/blog/${post.slug}`}
                                class="block w-full card-clip p-8 no-underline sm:flex-row sm:gap-8 bg-neutral-50 rounded-[40px] transition-all duration-300"
                            >
                                <span class="grid flex-1 gap-1">
                                    <span class="text-neutral-900 line-clamp-1 md:inline-flex items-center">
                                        <span class="inline-block font-medium">
                                            {post.data.title}
                                        </span>
                                        <span class="md:mb-0 my-2 md:my-0 md:ml-2 text-sm w-max md:w-auto items-center rounded-full border border-neutral-300 bg-white px-1 py-[2px] font-medium text-primary-500 block md:inline-flex">
                                            <span class="px-2">
                                                <FormattedDate
                                                    date={post.data.pubDate}
                                                />
                                            </span>
                                        </span>
                                    </span>
                                    <span class="text-neutral-500 line-clamp-2 ">
                                        {post.data.description}
                                    </span>
                                </span>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </SectionContainer>
    </div>
</Layout>
